/** Temp rules**/
div.bubble{
/*	margin-bottom:5%; */
}

/******************************/

.hr{
	width:40%;
	border-style:solid;
	border-width:0 0 2px 0;
	margin-left:20%;
}

#foodDave{
	height:7.5em;
}

